<div class="content" role="main">

  <div *ngIf="enabled == 1; else off" style="text-align: center;">
    <p style="font-size: xx-large;">
      Valor actual del LED:

      <label style="color: blue;">
        {{ textButton }}
      </label>
    </p>

    <br><br><br>

    <button (click)="ledAction(0)" style="font-size: xx-large; color: red; width: 400px; height: 100px;">
      APAGAR
    </button>
  </div>

  <ng-template #off>
    <div style="text-align: center;">
      <p style="font-size: xx-large;">
        Valor actual del LED:

        <label style="color: red;">
          {{ textButton }}
        </label>
      </p>

      <br><br><br>

      <button (click)="ledAction(1)" style="font-size: xx-large; color: blue; width: 400px; height: 100px;">
        ENCENDER
      </button>
    </div>
  </ng-template>

</div>